@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;  
}
.container
{
    width: 100%;
    min-height: 300px;
    margin: auto;
}
.main-header-div
{
    width: 100%;
    height: 600px;
    background-image: url(../Images/offbg2.jpg);
    background-size: cover;
    background-position: center;
}
.main-header-div .logo
{
    width: 20%;
    height: 60px;
    float: left;
}
.logo img
{
    width: 30%;
    height: 60px;
    float: left;
}
.logo h1
{
    padding: 10px;
}

.main-header-div .menu
{
    width: 60%;
    height: 60px;
    float: left;
}
.menu a
{   
    padding: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    margin: 25px;
}
ul
{
    margin-top: 20px;
    margin-left: 50px;
}
.menu a:hover
{
    background-color: grey;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-header-div .contact
{
    width: 18%;
    height: 60px;
    float: left;
}
.contact h3
{
    padding: 10px;
    padding-top: 21px;
    float: right;
}
.main-header-div-two
{
    width: 100%;
    min-height: 300px;
}
.img
{
    width: 48%;
    height: 450px;
    float: left;
}
.img iframe
{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.text
{
    width: 48%;
    height: 400px;
    float: right;
    margin-top: 40px; 
}
.text h2
{
    padding-top: 60px;
}
.text p
{
    padding-top: 15px;
}
.text-two
{
    width: 100%;
    padding-top: 50px;  
    margin-top: 30px; 
}
.text-two img
{
    float: left;
    padding: 10px;
    margin-right: 30px;
}
.text-two h3
{
    padding: 15px;
}
.text-two pre
{
    margin-left: 80px;
    color: red;
    font-weight: bold;
}
.form-feild
{
    width: 100%;
    height: 400px;
}
.form-feild p
{
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    margin-top: 50px;
    color:black;
    padding: 3px;
   
}
.back
{
    width: 150px;
    height: 40px;
    background-color: #FEDBDF;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form-feild h1
{
    text-align: center;
}
.form
{
    width: 100%;
    min-height: 400px;
}
.form input
{
    padding: 10px;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    outline: 0;
    background-color: lightgrey;
   
}
#msg
{
    width: 38%;
    height: 80px;
    background-color: #FEDBDF;
}
.single
{
    /* background-color: rgb(72, 72, 75); */
    width: 100%;
    height: 450px;
   background-image: url(../Images/flowerbg.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.form-div
{
    margin-top: 10px;
}
.form-div input
{
    width: 515px;
    height: 90px;
    outline: 0;
}
#uname
{
    height: 45px;
    background-color: #FEDBDF;
}

input[type=button]
{
    background-color: orangered;
    color: white;
    font-weight: bold;
    height: 45px;
}
.form-div button
{
    padding: 10px;
    width: 150px;
    margin-left: 190px;
    margin-top: 10px;
    background-color: orangered;
    color: white;
    outline: 0;
}
.main-bottom-div
{
    width: 100%;
    min-height: 100px;
}
.main-bottom-div .email-head-div
{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    background-color: black;
}
.email-head-div img
{
    margin-top: 15px;
    margin-left: 30px;
}
.email-head-div p
{
    padding: 10px;
    margin-top: 20px;
    color: white;
}
.email-head-div input
{
    width: 500px;
    height: 40px;
    margin-top: 30px;  
    outline: none;
    background-color: black;
    color: white;
    border: none;
}
.emlhd
{

    height: 75px;
    border-bottom: 1px solid white;
    margin-left: 30%;
}
input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.footer-div
{
    width: 90%;
    min-height: 300px;
    display: flex;
    margin-top: 50px;
    border: 2px solid red;
    margin: auto;
    /* margin-left: 60px; */
}
.footer-div p
{
    margin-top: 10px;
    color: white;
}
.comp-div
{
    width: 28%;
    height: 300;
    border: 1.5px solid blueviolet;
}
.comp-div .comp-icon
{
    margin-top: 20px;
}
.comp-div .comp-logo
{
    display: flex;
}
.comp-logo h2
{
    margin-top: 10px;
    color: white;
}
.comp-div .comp-icon h5
{
    color: white;
}
.explore-div
{
    width: 15%;
    height: 300;
    border: 1.5px solid blueviolet;
}
.explore-div h2
{
    margin-top: 10px;
    color: white;
    /* margin-left: 20px; */
    padding-left: 10px;
}
.explore-div p
{
    line-height: 36px;
}
.portfolio-div
{
    width: 25%;
    height: 300;
    border: 1.5px solid blueviolet;
}
.portfolio-div h2
{
    margin-top: 10px;
    color: white;
    margin-left: 10px;
}
.row
{
    width: 100%;
    min-height: 100px;
    display: flex;
}
.row .col
{
    width: 23%;
    height: 74px;
    margin-top: 20px;
}
.col img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cont-div
{
    width: 25%;
    height: 300;
    border: 1.5px solid blueviolet;
}
.cont-div .hed h2
{
    margin-top: 10px;
    color: white;
    margin-left: 10px;
}
.cont-div .hed p
{
    margin-top: 10px;
    color: white;
}
.cont-div .em
{
    display: flex;
    font-size: small;
    margin-top: 30px;
}
.em i
{
    margin-top: 10px;
}
.cnt
{
    display: flex;
    padding: 10px;
}
.cnt h3
{
    color: white;
}
.footer-div :nth-child(2)
{
    margin-left: 20px;
    margin-right: 20px;
}
.footer-div :nth-child(3)
{
    margin-left: 20px;
    margin-right: 20px;
}
.footer-div :nth-child(1)
{
    margin-left: 0px;
}
.footer-div h5
{
    padding: 10px;
    font-size: small;
    margin-right: 6000px;
}
.footer
{
    width: 100%;
    height: 60px;
    background-color: black;
}
.footer h6
{
    text-align: center;
    line-height: 50px;
    color: white;
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}