@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.wrapper
{
    width: 60%;
    min-height: 100px;
    margin: auto;
}
.main-header-div
{
    width: 100%;
    height: 60px;
}
.main-header-div .logo
{
    width: 48%;
    height: 60px;
    float: left;
    padding: 25px;
}
.main-header-div .menu
{
    width: 48%;
    height: 60px;
    float: right;
    padding: 35px;
}
.menu a
{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu a:hover
{
    background-color: rgb(75, 219, 75);
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sidebar
{
    width: 100%;
    height: 400px;
}
.sidebar img
{
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar h1
{
    margin-top: -23%;
    margin-left: 20%;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.prod-header-div
{
    width: 100%;
    min-height: 400px;
    padding-top: 40px;
   
}
.prod-header-div h2
{
    text-align: center;
}
.prod-header-div .prod
{
    width: 32%;
    min-height: 100px;
    float: left;
    margin-top: 15px;
}
.prod img
{
    width: 100%;
    height: 250px;
    border-radius:200px;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    -ms-border-radius:200px;
    -o-border-radius:200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prod-header-div .prod:nth-child(3)
{
    margin-left: 10px;
    margin-right: 10px;
}
.prod-header-div .prod:nth-child(2)
{
    margin-left: 5px;
}
.prod h4
{
    text-align: center;
    padding: 10px;
}
.prod p
{
    text-align: center;
    padding: 10px;
    text-align: justify;
    font-weight: normal;
    font-size: 13px;
}
.row
{
    width: 100%;
    min-height: 100px;
}
.row .col
{
    width: 24%;
    min-height: 250px;
    float: left;
    padding: 10px;
}
.col img
{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.row h2
{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.head-text h2
{
    text-align: center;
    margin-top: 20px;
}
.main-form-div
{
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    background-color: rgba(41, 47, 53, 0.863);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sidebar-one
{
    width: 50%;
    min-height: 300px;
    float: left;
}

.form-field
{
    margin-left: 70px;
}
.form-field input
{
    width: 70%;
    height: 35px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button
{
    width: 70%;
    height: 35px;
    margin: 5px;
    background-color: rgb(6, 168, 223);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sidebar-two
{
    width: 50%;
    min-height: 300px;
    float: right;
}
.head-text-two pre
{
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    color: white;
}
.icon
{
    width: 100%;
    height: 60px;
    margin-left: 20px
}
.icon i
{
    font-size: 40px;
    padding: 3px;
    color: white;
    
}
.footer
{
    width: 100%;
    height: 60px;
}
.footer h4
{
    text-align: center;
    line-height: 60px;
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}